@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap&subset=latin-ext');

* {
    box-sizing: border-box;
}

html, button {
    font-family: 'Sigmar One', cursive;
}

body {
    margin: 0;
    overflow: hidden;
}

#app {

}

.break {
    flex-basis: 100%;
    height: 0;
}

.game-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-headline {
    text-align: center;
    font-size: 3rem;
}

.card-item {
    border-radius: 20px;
    margin: 10px;
    transition: all .3s ease-in-out ;
}

.card-item.closed {
    height: 0!important;
    width: 0!important;
}

.card-item.mistake {
    transform: scale(1.2) rotate(30deg);
}

.progress-bar {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 300px;
    background: #efefef;
    overflow: hidden;
}

.progress-bar-front-layer {
    width: 0;
    height: 100%;
    background: dodgerblue;
    transition: all .3s ease-in-out;
}

/* ====================================================================== */
/* timer */
.level-counter {
     position: fixed;
     top: 50px;
     right: 20px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
     align-items: baseline;
 }

.level-counter-number {
    margin-left: 10px;
    font-size: 2rem;
}
/* ====================================================================== */
/* timer */
.time-progress-bar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 150px;
    background: transparent;
    overflow: hidden;
}

.timer-progress-bar-front-layer {
    width: 100%;
    height: 100%;
    background: dodgerblue;
    transition: all 1s linear;
}

.timer-progress-bar-front-layer .orange {
    background: orange;
}
.timer-progress-bar-front-layer .red {
    background: red;
}

.timer {
    position: fixed;
    top: 40px;
    left: 20px;
    font-size: 2rem;
    color: dodgerblue;
}

.timer small {
    font-size: 1rem;
}

.timer .orange {
    color: orange;
}
.timer .red {
    color: red;
}



/* ====================================================================== */
/* mistake-counter */
.mistake-counter {
    position: fixed;
    top: 100px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.mistake-counter-number {
    font-size: 2rem;
    margin-left: 10px;
}

/* ====================================================================== */
/* modal */
.modal {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all .3s ease-in-out;
}
.modal.on {
    top: 0;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-message {
    font-size: 3rem;
    max-width: 800px;
    margin: 0;
}

.modal-placeholder {
    font-size: 2rem;
    max-width: 800px;
    margin: 0;
}

.modal-placeholder strong{
    font-size: 4rem;
    max-width: 800px;
    margin: 0;
}

.modal-button {
    font-size: 2rem;
    padding: 20px 40px;
    border: 0;
    border-radius: 10px;
    background: green;
    color: white;
    box-shadow: inset 4px 4px 2px 2px rgba(0, 0, 0, 0.1);
    outline: 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-button:hover {
    background: forestgreen;
}

.modal-button:active {
    background: limegreen;
}

/* ====================================================================== */
/* ranking */
.ranking-wrapper {
    display: none;
    position: fixed;
    background: #fff;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
}

.ranking-wrapper.on {
    display: block;
}

.ranking-list {
    list-style: none;
    padding: 0;
}

.ranking-list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.ranking-list-item:nth-child(1){
    font-weight: bold;
    font-size: 2em;
}

.ranking-list-item:nth-child(2) {
    font-weight: bold;
    font-size: 1.6em;
}

.ranking-list-item:nth-child(2) {
    font-weight: bold;
    font-size: 1.2em;
}

.ranking-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: red;
}

.ranking-close-button:hover {
    background: darkred;
    cursor: pointer;
}

/* ====================================================================== */
/* flip card */


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out ;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
}

.mistake .flip-card-front {
    background-color: darkred;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    transform: rotateY(180deg);
}

.mistake .flip-card-back {
    background-color: red;
}
